@media (prefers-color-scheme: dark) {
	body {
		background-color: #202023;
		color: #f9f9fa;
	}
}

body {
	padding: 1rem;
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-gap: 0.5rem;
	align-items: center;
}

label {
	text-align: right;
}

input {
	margin: 0;
	padding: 0;
}

output {
	min-width: 10ch;
}

input[type="checkbox"] {
	grid-column: span 2;
	justify-self: flex-start;
}

#skins {
	grid-column: span 2;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-gap: 0.5rem;
	align-items: center;
}

#skins label {
	text-align: left;
}
