#mouse-pet-container {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transition: opacity 0.5s;

  &.hidden {
    opacity: 0;
  }

  div {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: var(--mouse-pet-image);
    background-position-x: -20px;
    transition: transform 0.1s ease-out;

    &:first-child {
      background-position-x: -40px;
    }

    &:last-child {
      background-position-x: 0;
    }
  }
}
