#mouse-pet-container {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &.hidden {
    opacity: 0;
    transition: opacity 0.5s;
  }

  div {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--mouse-pet-size);
    height: var(--mouse-pet-size);
    background-image: var(--mouse-pet-image);
    background-size: cover;
    background-position-x: calc(-1 * var(--mouse-pet-size));
    transition: transform 0.1s ease-out;

    &:first-child {
      background-position-x: calc(-2 * var(--mouse-pet-size));
    }

    &:last-child {
      background-position-x: 0;
    }
  }
}
