@import "~photon-colors/photon-colors.scss";

body {
  margin: 10px;
}

input[type=range] {
  &::-moz-range-track {
    height: 2px;
    border: solid 1px $grey-30;
    background: $grey-20;
  }

  &::-moz-range-thumb {
    border: solid 1px $blue-50;
    background: $blue-40;
  }

  &:hover::-moz-range-thumb {
    background: $blue-60;
    border-color: $blue-70;
  }
}

#petLengthContainer {
  display: flex;
  align-items: stretch;
  margin-bottom: 0;
}

#petLength {
  margin-right: 0;
}

#petSkinContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  label {
    margin-right: 6px;
  }
}

#petSkin {
  flex-grow: 1;
}
