@import "~photon-colors/photon-colors.scss";

::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
}

body {
  display: grid;
  background: $grey-10;
  color: $grey-90;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  grid-gap: 8px 4px;
  grid-template-columns: max-content 1fr;
  -moz-user-select: none;

  & > * {
    align-self: center;
    margin: 0;
    transition: box-shadow 0.1s;

    &:focus {
      box-shadow:
        0 0 0 1px $blue-50 inset,
        0 0 0 1px $blue-50,
        0 0 0 4px rgba($blue-50, 0.3);
      outline: none;
    }

    &:nth-child(odd):not(#update) {
      margin-left: auto;
    }
  }
}

#update {
  height: 32px;
  border: none;
  background: $blue-50;
  border-radius: 2px;
  color: white;
  grid-column: span 2;

  &:hover {
    background: $blue-60;
  }

  &:active {
    background: $blue-70;
  }
}

select {
  position: relative;
  padding: 2px;
  border: 1px solid rgba($grey-90, 0.3);
  -moz-appearance: none;
  background: no-repeat right 4px center url(downArrow.svg);
  border-radius: 2px;
}

input[type=range] {
  width: 100%;

  &::-moz-range-track {
    height: 2px;
    background: rgba($grey-90, 0.3);
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 1px solid $blue-60;
    background: $blue-50;
    border-radius: 100%;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover::-moz-range-thumb {
    background: $blue-60;
    border-color: $blue-70;
  }

  &:active::-moz-range-thumb {
    background: $blue-70;
    border-color: $blue-80;
  }
}
